@charset "utf-8";
/* CSS Document */


.theme-lightgreen .button:not(.button-fill) {
  color: #8bc34a;
}
.theme-lightgreen .navbar .button:not(.button-fill),
.theme-lightgreen.navbar .button:not(.button-fill),
.theme-lightgreen .toolbar .button:not(.button-fill),
.theme-lightgreen.toolbar .button:not(.button-fill),
.theme-lightgreen .subnavbar .button:not(.button-fill),
.theme-lightgreen.subnavbar .button:not(.button-fill) {
  color: #fff;
}
.theme-lightgreen .button.button-fill {
  background: #8bc34a;
  color: #fff;
}
html:not(.watch-active-state) .theme-lightgreen .button.button-fill:active,
.theme-lightgreen .button.button-fill.active-state {
  background: #689F38;
}
.progressbar.theme-lightgreen,
.theme-lightgreen .progressbar {
  background-color: rgba(139, 195, 74, 0.5);
}
.progressbar.theme-lightgreen span,
.theme-lightgreen .progressbar span {
  background-color: #8bc34a;
}
.progressbar-infinite.theme-lightgreen,
.theme-lightgreen .progressbar-infinite {
  background-color: rgba(139, 195, 74, 0.5);
}
.progressbar-infinite.theme-lightgreen:after,
.theme-lightgreen .progressbar-infinite:after,
.progressbar-infinite.theme-lightgreen:before,
.theme-lightgreen .progressbar-infinite:before {
  background-color: #8bc34a;
}
.color-lightgreen i.icon,
i.icon.color-lightgreen {
  color: #8bc34a;
}
i.icon-next.color-lightgreen,
i.icon-next.theme-lightgreen {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%238bc34a'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M10%206L8.59%207.41%2013.17%2012l-4.58%204.59L10%2018l6-6z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}
i.icon-prev.color-lightgreen,
i.icon-prev.theme-lightgreen {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%238bc34a'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M15.41%207.41L14%206l-6%206%206%206%201.41-1.41L10.83%2012z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}
i.icon-back.color-lightgreen,
i.icon-back.theme-lightgreen {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M20%2011H7.83l5.59-5.59L12%204l-8%208%208%208%201.41-1.41L7.83%2013H20v-2z'%20fill%3D'%238bc34a'%2F%3E%3C%2Fsvg%3E");
}
i.icon-forward.color-lightgreen,
i.icon-forward.theme-lightgreen {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M12%204l-1.41%201.41L16.17%2011H4v2h12.17l-5.58%205.59L12%2020l8-8z'%20fill%3D'%238bc34a'%2F%3E%3C%2Fsvg%3E");
}
i.icon-bars.color-lightgreen,
i.icon-bars.theme-lightgreen {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M3%2018h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'%20fill%3D'%238bc34a'%2F%3E%3C%2Fsvg%3E");
}
.theme-lightgreen a {
  color: #8bc34a;
}
.theme-lightgreen .navbar,
.navbar.theme-lightgreen,
.theme-lightgreen .toolbar,
.toolbar.theme-lightgreen,
.theme-lightgreen .subnavbar,
.subnavbar.theme-lightgreen,
.theme-lightgreen .searchbar,
.searchbar.theme-lightgreen {
  background-color: #8bc34a;
}
.theme-lightgreen .label-switch input[type="checkbox"]:checked + .checkbox,
.label-switch.theme-lightgreen input[type="checkbox"]:checked + .checkbox {
  background-color: rgba(139, 195, 74, 0.5);
}
.theme-lightgreen .label-switch input[type="checkbox"]:checked + .checkbox:after,
.label-switch.theme-lightgreen input[type="checkbox"]:checked + .checkbox:after {
  background-color: #8bc34a;
}
.theme-lightgreen label.label-checkbox,
label.label-checkbox.theme-lightgreen {
  cursor: pointer;
}
.theme-lightgreen label.label-checkbox i.icon-form-checkbox:after,
label.label-checkbox.theme-lightgreen i.icon-form-checkbox:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20fill%3D'%23ffffff'%20width%3D'24'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%3E%3Cpath%20d%3D'M9%2016.17L4.83%2012l-1.42%201.41L9%2019%2021%207l-1.41-1.41z'%2F%3E%3C%2Fsvg%3E");
}
.theme-lightgreen label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox.theme-lightgreen input[type="checkbox"]:checked + .item-media i.icon-form-checkbox,
.theme-lightgreen label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox,
label.label-checkbox.theme-lightgreen input[type="radio"]:checked + .item-media i.icon-form-checkbox,
.theme-lightgreen label.label-checkbox input[type="checkbox"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkbox.theme-lightgreen input[type="checkbox"]:checked ~ .item-after i.icon-form-checkbox,
.theme-lightgreen label.label-checkbox input[type="radio"]:checked ~ .item-after i.icon-form-checkbox,
label.label-checkbox.theme-lightgreen input[type="radio"]:checked ~ .item-after i.icon-form-checkbox,
.theme-lightgreen label.label-checkbox input[type="checkbox"]:checked ~ .item-inner i.icon-form-checkbox,
label.label-checkbox.theme-lightgreen input[type="checkbox"]:checked ~ .item-inner i.icon-form-checkbox,
.theme-lightgreen label.label-checkbox input[type="radio"]:checked ~ .item-inner i.icon-form-checkbox,
label.label-checkbox.theme-lightgreen input[type="radio"]:checked ~ .item-inner i.icon-form-checkbox {
  border-color: #8bc34a;
  background-color: #8bc34a;
}
.theme-lightgreen label.label-radio i.icon-form-radio:after,
label.label-radio.theme-lightgreen i.icon-form-radio:after {
  background-color: #8bc34a;
}
.theme-lightgreen label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio,
label.label-radio.theme-lightgreen input[type="checkbox"]:checked + .item-media i.icon-form-radio,
.theme-lightgreen label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio,
label.label-radio.theme-lightgreen input[type="radio"]:checked + .item-media i.icon-form-radio,
.theme-lightgreen label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio,
label.label-radio.theme-lightgreen input[type="checkbox"]:checked ~ .item-after i.icon-form-radio,
.theme-lightgreen label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio,
label.label-radio.theme-lightgreen input[type="radio"]:checked ~ .item-after i.icon-form-radio,
.theme-lightgreen label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio,
label.label-radio.theme-lightgreen input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio,
.theme-lightgreen label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio,
label.label-radio.theme-lightgreen input[type="radio"]:checked ~ .item-inner i.icon-form-radio {
  border-color: #8bc34a;
}
.theme-lightgreen label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio:after,
label.label-radio.theme-lightgreen input[type="checkbox"]:checked + .item-media i.icon-form-radio:after,
.theme-lightgreen label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio:after,
label.label-radio.theme-lightgreen input[type="radio"]:checked + .item-media i.icon-form-radio:after,
.theme-lightgreen label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio:after,
label.label-radio.theme-lightgreen input[type="checkbox"]:checked ~ .item-after i.icon-form-radio:after,
.theme-lightgreen label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio:after,
label.label-radio.theme-lightgreen input[type="radio"]:checked ~ .item-after i.icon-form-radio:after,
.theme-lightgreen label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio:after,
label.label-radio.theme-lightgreen input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio:after,
.theme-lightgreen label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio:after,
label.label-radio.theme-lightgreen input[type="radio"]:checked ~ .item-inner i.icon-form-radio:after {
  background-color: #8bc34a;
}
.theme-lightgreen .focus-state .label,
.theme-lightgreen .focus-state .floating-label {
  color: #8bc34a;
}
.theme-lightgreen .item-input-field.focus-state:after,
.theme-lightgreen .input-field.focus-state:after,
.theme-lightgreen .item-input-field.not-empty-state:after,
.theme-lightgreen .input-field.not-empty-state:after {
  background: #8bc34a;
}
.theme-lightgreen .picker-calendar-day.picker-calendar-day-today span {
  color: #8bc34a;
}
.theme-lightgreen .picker-calendar-day.picker-calendar-day-selected span {
  background-color: #8bc34a;
  color: #fff;
}
.theme-lightgreen .picker-calendar-day.picker-calendar-day-has-events span:after {
  background-color: #8bc34a;
}
.theme-lightgreen .picker-header {
  background-color: #8bc34a;
}
.theme-lightgreen .modal-button {
  color: #8bc34a;
}
.theme-lightgreen .timeline-horizontal .timeline-item-date,
.timeline-horizontal.theme-lightgreen .timeline-item-date {
  background-color: #8bc34a;
}
.theme-lightgreen .timeline-year-title,
.theme-lightgreen .timeline-month-title {
  background-color: #8bc34a;
}
.swiper-pagination.color-lightgreen .swiper-pagination-bullet-active,
.theme-lightgreen .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #8bc34a;
}
.swiper-pagination.color-lightgreen .swiper-pagination-progressbar,
.theme-lightgreen .swiper-pagination .swiper-pagination-progressbar {
  background-color: #8bc34a;
}
.swiper-pagination.swiper-pagination-progress.bg-lightgreen {
  background-color: rgba(139, 195, 74, 0.25);
}
.swiper-button-next.color-lightgreen,
.swiper-container-rtl .swiper-button-prev.color-lightgreen,
.theme-lightgreen .swiper-button-next,
.theme-lightgreen .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%238bc34a'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-prev.color-lightgreen,
.swiper-container-rtl .swiper-button-next.color-lightgreen,
.theme-lightgreen .swiper-button-prev,
.theme-lightgreen .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%238bc34a'%2F%3E%3C%2Fsvg%3E");
}
.theme-lightgreen .floating-button,
.theme-lightgreen .speed-dial-buttons a,
.floating-button.theme-lightgreen,
.speed-dial-buttons a.theme-lightgreen {
  color: #fff;
  background: #8bc34a;
}
html:not(.watch-active-state) .theme-lightgreen .floating-button:active,
html:not(.watch-active-state) .theme-lightgreen .speed-dial-buttons a:active,
html:not(.watch-active-state) .floating-button.theme-lightgreen:active,
html:not(.watch-active-state) .speed-dial-buttons a.theme-lightgreen:active,
.theme-lightgreen .floating-button.active-state,
.theme-lightgreen .speed-dial-buttons a.active-state,
.floating-button.theme-lightgreen.active-state,
.speed-dial-buttons a.theme-lightgreen.active-state {
  background: #689F38;
}
.theme-lightgreen .floating-button i,
.theme-lightgreen .speed-dial-buttons a i,
.floating-button.theme-lightgreen i,
.speed-dial-buttons a.theme-lightgreen i {
  color: inherit;
}
.theme-lightgreen .range-slider input[type="range"]::-webkit-slider-thumb:before,
.range-slider.theme-lightgreen input[type="range"]::-webkit-slider-thumb:before {
  background-color: #8bc34a;
}
.theme-lightgreen .range-slider input[type="range"]::-webkit-slider-thumb,
.range-slider.theme-lightgreen input[type="range"]::-webkit-slider-thumb {
  background-color: #8bc34a;
}
.theme-lightgreen .range-slider input[type="range"]::-ms-thumb,
.range-slider.theme-lightgreen input[type="range"]::-ms-thumb {
  background-color: #8bc34a;
}
.theme-lightgreen .range-slider input[type="range"]::-ms-fill-lower,
.range-slider.theme-lightgreen input[type="range"]::-ms-fill-lower {
  background-color: #8bc34a;
}
.theme-lightgreen .range-slider input[type="range"]::-moz-range-thumb,
.range-slider.theme-lightgreen input[type="range"]::-moz-range-thumb {
  background-color: #8bc34a;
}
.badge.theme-lightgreen {
  background-color: #8bc34a;
  color: #fff;
}

